/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
  font-family: Gilroy;
  src: url();
}

*{
  font-family: Gilroy;
}

body {
  padding: 20px;
}


/* NAVBAR */

.nav-wrapper {
  max-width: 1440px;
  
}

.nav-wrapper nav {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  min-width: 160px;
  font-weight: 500;
  font-size: 21px;
}

.my-orders button {
  background: #1071FF;
  border-radius: 30px;
  width: 136px;
  height: 48px;
  padding: 10px 32px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.search-bar input{
  min-width: 543px;
  min-height: 48px;
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #EAECEE;
  padding-left: 48px;
}

.logout__btn{
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  color: #666666;
  cursor: pointer;
}

/* ORDERS PAGE */

.orders-page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.orders-page-header {
  width: 500px;
  height: 94px;
  text-align: center;
  font-weight: normal;
  font-size: 64px;
  margin: 67px auto 8px auto;
}